body {
    background-color: rgb(27, 28, 27);
    text-align: center;

}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
}

p {
    color: white;
}

a {
    color: white;
}